<div class="row">
	<div class="col-xs-11 programmetv-zone-scroll">
		<table class="programmetv-table">
			<tbody>
				<tr ng-repeat="programme in vm.programmes">
					<td class="programmetv-chaine">
						<img ng-src="{{vm.repertoireImage}}/ProgrammeTv_{{programme.nomChaine}}.png" alt="{{programme.nomChaine}}" ng-click="vm.plusInfos(programme)" />
					</td>
					<td>
						<div class="programmetv-nomprogramme">{{programme.nomProgramme}}</div>
						<div class="programmetv-typeprogramme">{{programme.typeProgramme}}</div>
					</td>
					<td class="programmetv-heureprogramme">{{programme.heureDebut}}</td>
					<td class="programmetv-play">
						<img ng-if="$even" ng-src="{{vm.repertoireImage}}/ProgrammeTv_play.png" ng-click="vm.ecouterDescriptifProgramme(programme)" />
						<img ng-if="$odd" ng-src="{{vm.repertoireImage}}/ProgrammeTv_play2.png" ng-click="vm.ecouterDescriptifProgramme(programme)" />
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="col-xs-1 programmetv-zone">
		<button class="btn btn-default btn-sm" ng-click="vm.ecouterListeProgrammes()" id="programmetv-imageson">
			<i class="fa fa-volume-up"></i>
		</button>
		<button class="btn btn-default btn-sm" ng-click="vm.modal='parametre'" id="programmetv-imageparametrage">
			<i class="fa fa-cog"></i>
		</button>
	</div>
</div>

<!-- modal -->
<div class="modal programmetv-modal" ng-show="vm.modal">
	<div class="modal-dialog">
		<div ng-if="vm.modal" ng-include src="'/programmetv.modal.'+ vm.modal +'.html'" class="modal-content" id="programmetv-modal-content"></div>
	</div>
</div>

<!-- modal content -->
<script type="text/ng-template" id="/programmetv.modal.parametre.html">
	<div class="modal-header">
		<button ng-click="vm.getProgrammesTv()" type="button" class="close"><span aria-hidden="true">×</span></button>
		<h4 class="modal-title">Paramétrage des chaines affichées</h4>
	</div>
	<div class="modal-body">
		<div class="col-sm-8 col-sm-offset-2 programmetv-zone-scroll">
			<table class="table table-bordered programmetv-modal-table">
				<tbody>
					<tr ng-repeat="chaine in vm.chaines" class="ng-cloak">
						<td>
							<img ng-src="{{vm.repertoireImage}}/ProgrammeTv_{{chaine.nomChaine}}.png" alt="{{chaine.nomChaine}}" />
						</td>
						<td>
							<input ng-checked="{{chaine.afficherDansDashboard}}" ng-model="chaine.afficherDansDashboard" type="checkbox" ng-change="vm.updateAffichage(chaine)">
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="clearfix"></div>
	</div>
</script>

<script type="text/ng-template" id="/programmetv.modal.plusInfos.html">
	<div class="modal-header">
		<button ng-click="vm.modal=false" type="button" class="close"><span aria-hidden="true">×</span></button>
		<div class="row">
			<div class="col-lg-2">
				<img ng-src="{{vm.repertoireImage}}/ProgrammeTv_{{vm.programmeEdit.nomChaine}}.png" alt="{{vm.programmeEdit.nomChaine}}" />
			</div>
			<div class="col-lg-9">
				<h4 class="modal-title">
					<span class="programmetv-textegras">{{vm.programmeEdit.nomProgramme}}</span> à {{vm.programmeEdit.heureDebut}}
				</h4>
			</div>
		</div>
	</div>
	<div class="modal-body">
		<div>
			<div class="form-group text-justify" ng-bind-html="vm.plusInfosDescriptif | descriptifToHtml"></div>
		</div>
		<div class="clearfix"></div>
	</div>
</script>